<h1 itemprop = 'name'>Prescription Diet z/d Dog Food</h1>
<ul id="product_listing" class="products-listing _family">
    <li class="product clearfix" itemprop="offers">
        <div itemprop="name" class="title">
            Dry » 5kg Bag
        </div>
        <span itemprop="price">37.80</span>
        <a itemprop = 'image' href = '//static2.viovet.co.uk/pi/image_import_1436870911.jpg' ></a>
        <strong class='stock in-stock' text='Estimated dispatch within 24 working hours.'></strong>
        <strong itemprop='sku'>180011</strong>
        <a class="call_to_action _secondary _medium view_details" href="/Hills_Prescription_Diet_zd_Dog_Food/c107/"></a>
    </li>
    <li class="product clearfix" itemprop="offers">
        <div itemprop="name" class="title">
            Dry » 10kg Bag
        </div>
        <span itemprop="price">41.50</span>
        <a itemprop='image' href='//static2.viovet.co.uk/pi/image_import_1436870922.jpg' ></a>
        <strong class='stock in-stock' text='Estimated dispatch within 24 working hours.'></strong>
        <strong itemprop='sku'>180053</strong>
        <a class="call_to_action _secondary _medium view_details" href="/Hills_Prescription_Diet_zd_Dog_Food/c108/"></a>
    </li>
</ul>